* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
  font-family: sans-serif;
}

h1 {
  text-align: center;
}

ul {
  list-style-type: none;
}

.layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin-top: 20px;
}

.booksSection,
.readersSection {
  background: #f6f7fb;
  padding: 20px;
  border-radius: 10px;
}
